# Database
DATABASE_URL="postgresql://postgres:G0od2o15%23%40mk88@localhost:5432/smart_rabbit?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="t6+S1cnv5usrWbv0nX2xV4rAlAuhdclC02HKHHG3nqo="

# App
NODE_ENV="development"
