--
-- PostgreSQL database dump
--

\restrict EmvnhEpmrlrocdB6qE4iZDmU15E3iXTHxRcEM5XxdRU8ZxcIGXtDNDlgJozlctl

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: rabbit_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO rabbit_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: rabbit_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CageType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CageType" AS ENUM (
    'BREEDING',
    'WEANER'
);


ALTER TYPE public."CageType" OWNER TO postgres;

--
-- Name: HealthStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."HealthStatus" AS ENUM (
    'HEALTHY',
    'SICK',
    'INJURED'
);


ALTER TYPE public."HealthStatus" OWNER TO postgres;

--
-- Name: OffspringHealthStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OffspringHealthStatus" AS ENUM (
    'HEALTHY',
    'SICK',
    'INJURED'
);


ALTER TYPE public."OffspringHealthStatus" OWNER TO postgres;

--
-- Name: RabbitGender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RabbitGender" AS ENUM (
    'BUCK',
    'DOE'
);


ALTER TYPE public."RabbitGender" OWNER TO postgres;

--
-- Name: RabbitStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RabbitStatus" AS ENUM (
    'ACTIVE',
    'SOLD',
    'DECEASED',
    'WEANED'
);


ALTER TYPE public."RabbitStatus" OWNER TO postgres;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionType" AS ENUM (
    'SALE',
    'EXPENSE'
);


ALTER TYPE public."TransactionType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'OWNER',
    'WORKER'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Birth; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Birth" (
    id text NOT NULL,
    "matingId" text NOT NULL,
    "birthDate" timestamp(3) without time zone NOT NULL,
    "totalKits" integer NOT NULL,
    "aliveKits" integer NOT NULL,
    "deadKits" integer DEFAULT 0 NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Birth" OWNER TO postgres;

--
-- Name: Cage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Cage" (
    id text NOT NULL,
    "cageId" text NOT NULL,
    type public."CageType" NOT NULL,
    "rabbitryId" text NOT NULL,
    capacity integer DEFAULT 1 NOT NULL,
    compartments integer DEFAULT 1 NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Cage" OWNER TO postgres;

--
-- Name: Death; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Death" (
    id text NOT NULL,
    "rabbitId" text NOT NULL,
    "deathDate" timestamp(3) without time zone NOT NULL,
    cause text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Death" OWNER TO postgres;

--
-- Name: Expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Expense" (
    id text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    amount double precision NOT NULL,
    "expenseDate" timestamp(3) without time zone NOT NULL,
    vendor text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Expense" OWNER TO postgres;

--
-- Name: Location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Location" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    type text NOT NULL,
    address text,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Location" OWNER TO postgres;

--
-- Name: Mating; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Mating" (
    id text NOT NULL,
    "buckId" text NOT NULL,
    "doeId" text NOT NULL,
    "matingDate" timestamp(3) without time zone NOT NULL,
    "expectedKindlingDate" timestamp(3) without time zone,
    successful boolean DEFAULT false NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Mating" OWNER TO postgres;

--
-- Name: OffspringBatch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OffspringBatch" (
    id text NOT NULL,
    "batchId" text NOT NULL,
    "birthId" text NOT NULL,
    count integer NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "overallHealthStatus" public."OffspringHealthStatus" DEFAULT 'HEALTHY'::public."OffspringHealthStatus" NOT NULL
);


ALTER TABLE public."OffspringBatch" OWNER TO postgres;

--
-- Name: OffspringBatchHealthHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OffspringBatchHealthHistory" (
    id text NOT NULL,
    "batchId" text NOT NULL,
    status public."OffspringHealthStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OffspringBatchHealthHistory" OWNER TO postgres;

--
-- Name: OffspringDeath; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OffspringDeath" (
    id text NOT NULL,
    "birthId" text NOT NULL,
    "deathDate" timestamp(3) without time zone NOT NULL,
    count integer DEFAULT 1 NOT NULL,
    cause text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."OffspringDeath" OWNER TO postgres;

--
-- Name: OffspringWeight; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OffspringWeight" (
    id text NOT NULL,
    "batchId" text NOT NULL,
    weight double precision NOT NULL,
    "measurementDate" timestamp(3) without time zone NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."OffspringWeight" OWNER TO postgres;

--
-- Name: Rabbit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rabbit" (
    id text NOT NULL,
    "rabbitId" text NOT NULL,
    name text,
    gender public."RabbitGender" NOT NULL,
    breed text NOT NULL,
    "dateOfBirth" timestamp(3) without time zone,
    "cageId" text NOT NULL,
    status public."RabbitStatus" DEFAULT 'ACTIVE'::public."RabbitStatus" NOT NULL,
    "healthStatus" public."HealthStatus" DEFAULT 'HEALTHY'::public."HealthStatus" NOT NULL,
    "healthDescription" text,
    color text,
    "motherId" text,
    "fatherId" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    compartment integer DEFAULT 1 NOT NULL
);


ALTER TABLE public."Rabbit" OWNER TO postgres;

--
-- Name: Rabbitry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rabbitry" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "locationId" text NOT NULL,
    "ownerId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Rabbitry" OWNER TO postgres;

--
-- Name: RabbitryWorker; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RabbitryWorker" (
    id text NOT NULL,
    "rabbitryId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'worker'::text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RabbitryWorker" OWNER TO postgres;

--
-- Name: Sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Sale" (
    id text NOT NULL,
    "rabbitId" text,
    description text NOT NULL,
    amount double precision NOT NULL,
    "saleDate" timestamp(3) without time zone NOT NULL,
    "buyerName" text,
    "buyerContact" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Sale" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    image text,
    password text NOT NULL,
    role public."UserRole" DEFAULT 'OWNER'::public."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO postgres;

--
-- Name: WeightMeasurement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WeightMeasurement" (
    id text NOT NULL,
    "rabbitId" text NOT NULL,
    weight double precision NOT NULL,
    "measurementDate" timestamp(3) without time zone NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WeightMeasurement" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Birth; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Cage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Cage" (id, "cageId", type, "rabbitryId", capacity, compartments, description, "createdAt", "updatedAt") FROM stdin;
cmi7psk260007dvrssgha1kf9	BC-001	BREEDING	cmi7prz7e0005dvrsptxfllf7	12	12		2025-11-20 17:37:58.157	2025-11-20 17:37:58.157
cmidn18im0001dvkw23udpqib	BC-002	BREEDING	cmidmw5a80003dv1c6w0kdaw0	12	12		2025-11-24 21:07:21.307	2025-11-24 21:07:21.307
\.


--
-- Data for Name: Death; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Death" (id, "rabbitId", "deathDate", cause, notes, "createdAt", "updatedAt") FROM stdin;
cmi7ukt0r000adve4cpg5k3d8	cmi7qgdlt0009dvb4ci051zce	2025-11-11 00:00:00	Cold Stress	Pneumonia from post mortem	2025-11-20 19:51:54.603	2025-11-20 19:51:54.603
\.


--
-- Data for Name: Expense; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Location" (id, name, description, type, address, "userId", "createdAt", "updatedAt") FROM stdin;
cmi7pqent0003dvrsm0num28m	Mush Rabbits	Rabbit farming family business	backyard	9647 Nhiriri Road Mufakose Harare	cmi7pgkn40000dvrsr3fvzjpq	2025-11-20 17:36:17.846	2025-11-24 20:59:55.196
cmidmv9cv0001dv1c20u9j13u	Lancashire Meats	White meats company	farm	Stand No. 46 Chivhu	cmi7pgkn40000dvrsr3fvzjpq	2025-11-24 21:02:42.091	2025-11-24 21:02:42.091
\.


--
-- Data for Name: Mating; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OffspringBatch; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OffspringBatchHealthHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OffspringDeath; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OffspringWeight; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OffspringWeight" (id, "batchId", weight, "measurementDate", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Rabbit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Rabbitry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rabbitry" (id, name, description, "locationId", "ownerId", "createdAt", "updatedAt") FROM stdin;
cmi7prz7e0005dvrsptxfllf7	Rabbit Shed	Backyard shed	cmi7pqent0003dvrsm0num28m	cmi7pgkn40000dvrsr3fvzjpq	2025-11-20 17:37:31.131	2025-11-20 17:37:31.131
cmidmw5a80003dv1c6w0kdaw0	Barn A	Barn for rabbit keeping	cmidmv9cv0001dv1c20u9j13u	cmi7pgkn40000dvrsr3fvzjpq	2025-11-24 21:03:23.84	2025-11-24 21:03:23.84
\.


--
-- Data for Name: RabbitryWorker; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RabbitryWorker" (id, "rabbitryId", "userId", role, "assignedAt") FROM stdin;
cmi7x2p9f0003dvuwcmi6ftqw	cmi7prz7e0005dvrsptxfllf7	cmi7pgkn40000dvrsr3fvzjpq	supervisor	2025-11-20 21:01:48.77
cmi7xat75000ddvuwthaichjy	cmi7prz7e0005dvrsptxfllf7	cmi7x9ymj0009dvuwqto0dsm5	worker	2025-11-20 21:08:07.121
\.


--
-- Data for Name: Sale; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Sale" (id, "rabbitId", description, amount, "saleDate", "buyerName", "buyerContact", notes, "createdAt", "updatedAt") FROM stdin;
cmi7u9lxr0004dve4k84vd20n	\N	Rabbit sale	30	2025-10-06 00:00:00	Baba Jay			2025-11-20 19:43:12.207	2025-11-20 19:43:12.207
cmi7wwiqt0000dvuw3mpsr91q	\N	Meat Sale	40.5	2025-08-16 00:00:00	Reymeg			2025-11-20 20:57:00.387	2025-11-20 21:11:51.328
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, name, email, "emailVerified", image, password, role, "createdAt", "updatedAt") FROM stdin;
cmi7pgkn40000dvrsr3fvzjpq	Makomborero Mushangwe	makomushangwe88@gmail.com	\N	\N	$2b$12$nXyGWsTpo9aqsqCuW8A4wegpqgHreWMz/txvYVfMW7qeYdl1rIpmW	OWNER	2025-11-20 17:28:39.039	2025-11-20 21:01:48.751
cmi7x9ymj0009dvuwqto0dsm5	Worker 1	worker1@smartrabbit.com	\N	\N	$2b$12$F1XeNDdaYwpZpHVTJl91SOo5alx7tYFTMi.wGzmA.siHzIB01TMry	WORKER	2025-11-20 21:07:27.499	2025-11-20 21:08:07.09
\.


--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Data for Name: WeightMeasurement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: Birth Birth_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Birth"
    ADD CONSTRAINT "Birth_pkey" PRIMARY KEY (id);


--
-- Name: Cage Cage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Cage"
    ADD CONSTRAINT "Cage_pkey" PRIMARY KEY (id);


--
-- Name: Death Death_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Death"
    ADD CONSTRAINT "Death_pkey" PRIMARY KEY (id);


--
-- Name: Expense Expense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_pkey" PRIMARY KEY (id);


--
-- Name: Location Location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Location"
    ADD CONSTRAINT "Location_pkey" PRIMARY KEY (id);


--
-- Name: Mating Mating_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Mating"
    ADD CONSTRAINT "Mating_pkey" PRIMARY KEY (id);


--
-- Name: OffspringBatchHealthHistory OffspringBatchHealthHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringBatchHealthHistory"
    ADD CONSTRAINT "OffspringBatchHealthHistory_pkey" PRIMARY KEY (id);


--
-- Name: OffspringBatch OffspringBatch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringBatch"
    ADD CONSTRAINT "OffspringBatch_pkey" PRIMARY KEY (id);


--
-- Name: OffspringDeath OffspringDeath_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringDeath"
    ADD CONSTRAINT "OffspringDeath_pkey" PRIMARY KEY (id);


--
-- Name: OffspringWeight OffspringWeight_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringWeight"
    ADD CONSTRAINT "OffspringWeight_pkey" PRIMARY KEY (id);


--
-- Name: Rabbit Rabbit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_pkey" PRIMARY KEY (id);


--
-- Name: RabbitryWorker RabbitryWorker_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RabbitryWorker"
    ADD CONSTRAINT "RabbitryWorker_pkey" PRIMARY KEY (id);


--
-- Name: Rabbitry Rabbitry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbitry"
    ADD CONSTRAINT "Rabbitry_pkey" PRIMARY KEY (id);


--
-- Name: Sale Sale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WeightMeasurement WeightMeasurement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WeightMeasurement"
    ADD CONSTRAINT "WeightMeasurement_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Cage_cageId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Cage_cageId_key" ON public."Cage" USING btree ("cageId");


--
-- Name: OffspringBatch_batchId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "OffspringBatch_batchId_key" ON public."OffspringBatch" USING btree ("batchId");


--
-- Name: Rabbit_rabbitId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Rabbit_rabbitId_key" ON public."Rabbit" USING btree ("rabbitId");


--
-- Name: RabbitryWorker_rabbitryId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RabbitryWorker_rabbitryId_userId_key" ON public."RabbitryWorker" USING btree ("rabbitryId", "userId");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Birth Birth_matingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Birth"
    ADD CONSTRAINT "Birth_matingId_fkey" FOREIGN KEY ("matingId") REFERENCES public."Mating"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Cage Cage_rabbitryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Cage"
    ADD CONSTRAINT "Cage_rabbitryId_fkey" FOREIGN KEY ("rabbitryId") REFERENCES public."Rabbitry"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Death Death_rabbitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Death"
    ADD CONSTRAINT "Death_rabbitId_fkey" FOREIGN KEY ("rabbitId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Location Location_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Location"
    ADD CONSTRAINT "Location_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Mating Mating_buckId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Mating"
    ADD CONSTRAINT "Mating_buckId_fkey" FOREIGN KEY ("buckId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Mating Mating_doeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Mating"
    ADD CONSTRAINT "Mating_doeId_fkey" FOREIGN KEY ("doeId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OffspringBatchHealthHistory OffspringBatchHealthHistory_batchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringBatchHealthHistory"
    ADD CONSTRAINT "OffspringBatchHealthHistory_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES public."OffspringBatch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringBatch OffspringBatch_birthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringBatch"
    ADD CONSTRAINT "OffspringBatch_birthId_fkey" FOREIGN KEY ("birthId") REFERENCES public."Birth"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringDeath OffspringDeath_birthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringDeath"
    ADD CONSTRAINT "OffspringDeath_birthId_fkey" FOREIGN KEY ("birthId") REFERENCES public."Birth"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringWeight OffspringWeight_batchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OffspringWeight"
    ADD CONSTRAINT "OffspringWeight_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES public."OffspringBatch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rabbit Rabbit_cageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_cageId_fkey" FOREIGN KEY ("cageId") REFERENCES public."Cage"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rabbit Rabbit_fatherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_fatherId_fkey" FOREIGN KEY ("fatherId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Rabbit Rabbit_motherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_motherId_fkey" FOREIGN KEY ("motherId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RabbitryWorker RabbitryWorker_rabbitryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RabbitryWorker"
    ADD CONSTRAINT "RabbitryWorker_rabbitryId_fkey" FOREIGN KEY ("rabbitryId") REFERENCES public."Rabbitry"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RabbitryWorker RabbitryWorker_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RabbitryWorker"
    ADD CONSTRAINT "RabbitryWorker_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rabbitry Rabbitry_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbitry"
    ADD CONSTRAINT "Rabbitry_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public."Location"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rabbitry Rabbitry_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rabbitry"
    ADD CONSTRAINT "Rabbitry_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Sale Sale_rabbitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_rabbitId_fkey" FOREIGN KEY ("rabbitId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WeightMeasurement WeightMeasurement_rabbitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WeightMeasurement"
    ADD CONSTRAINT "WeightMeasurement_rabbitId_fkey" FOREIGN KEY ("rabbitId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: rabbit_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- Name: TABLE "Account"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Account" TO rabbit_user;


--
-- Name: TABLE "Birth"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Birth" TO rabbit_user;


--
-- Name: TABLE "Cage"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Cage" TO rabbit_user;


--
-- Name: TABLE "Death"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Death" TO rabbit_user;


--
-- Name: TABLE "Expense"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Expense" TO rabbit_user;


--
-- Name: TABLE "Location"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Location" TO rabbit_user;


--
-- Name: TABLE "Mating"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Mating" TO rabbit_user;


--
-- Name: TABLE "OffspringBatch"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."OffspringBatch" TO rabbit_user;


--
-- Name: TABLE "OffspringBatchHealthHistory"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."OffspringBatchHealthHistory" TO rabbit_user;


--
-- Name: TABLE "OffspringDeath"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."OffspringDeath" TO rabbit_user;


--
-- Name: TABLE "OffspringWeight"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."OffspringWeight" TO rabbit_user;


--
-- Name: TABLE "Rabbit"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Rabbit" TO rabbit_user;


--
-- Name: TABLE "Rabbitry"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Rabbitry" TO rabbit_user;


--
-- Name: TABLE "RabbitryWorker"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."RabbitryWorker" TO rabbit_user;


--
-- Name: TABLE "Sale"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Sale" TO rabbit_user;


--
-- Name: TABLE "Session"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Session" TO rabbit_user;


--
-- Name: TABLE "User"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."User" TO rabbit_user;


--
-- Name: TABLE "VerificationToken"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."VerificationToken" TO rabbit_user;


--
-- Name: TABLE "WeightMeasurement"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."WeightMeasurement" TO rabbit_user;


--
-- Name: TABLE _prisma_migrations; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public._prisma_migrations TO rabbit_user;


--
-- PostgreSQL database dump complete
--

\unrestrict EmvnhEpmrlrocdB6qE4iZDmU15E3iXTHxRcEM5XxdRU8ZxcIGXtDNDlgJozlctl

