--
-- PostgreSQL database dump
--

\restrict ywDxz76BTCfasnIrg49uufIb6UebarbXPdAtg0GkwnIRRAsWlDkeJGxjdanUaa1

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CageType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CageType" AS ENUM (
    'BREEDING',
    'WEANER'
);


--
-- Name: HealthStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."HealthStatus" AS ENUM (
    'HEALTHY',
    'SICK',
    'INJURED'
);


--
-- Name: OffspringHealthStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."OffspringHealthStatus" AS ENUM (
    'HEALTHY',
    'SICK',
    'INJURED'
);


--
-- Name: RabbitGender; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."RabbitGender" AS ENUM (
    'BUCK',
    'DOE'
);


--
-- Name: RabbitStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."RabbitStatus" AS ENUM (
    'ACTIVE',
    'SOLD',
    'DECEASED',
    'WEANED'
);


--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TransactionType" AS ENUM (
    'SALE',
    'EXPENSE'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'OWNER',
    'WORKER'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


--
-- Name: Birth; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Birth" (
    id text NOT NULL,
    "matingId" text NOT NULL,
    "birthDate" timestamp(3) without time zone NOT NULL,
    "totalKits" integer NOT NULL,
    "aliveKits" integer NOT NULL,
    "deadKits" integer DEFAULT 0 NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Cage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Cage" (
    id text NOT NULL,
    "cageId" text NOT NULL,
    type public."CageType" NOT NULL,
    "rabbitryId" text NOT NULL,
    capacity integer DEFAULT 1 NOT NULL,
    compartments integer DEFAULT 1 NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Creditor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Creditor" (
    id text NOT NULL,
    name text NOT NULL,
    contact text,
    "amountOwed" double precision NOT NULL,
    description text NOT NULL,
    "dueDate" timestamp(3) without time zone,
    status text DEFAULT 'PENDING'::text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Death; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Death" (
    id text NOT NULL,
    "rabbitId" text NOT NULL,
    "deathDate" timestamp(3) without time zone NOT NULL,
    cause text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Debtor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Debtor" (
    id text NOT NULL,
    name text NOT NULL,
    contact text,
    "amountOwed" double precision NOT NULL,
    description text NOT NULL,
    "dueDate" timestamp(3) without time zone,
    status text DEFAULT 'PENDING'::text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Expense; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Expense" (
    id text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    amount double precision NOT NULL,
    "expenseDate" timestamp(3) without time zone NOT NULL,
    vendor text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Location; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Location" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    type text NOT NULL,
    address text,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Mating; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Mating" (
    id text NOT NULL,
    "buckId" text NOT NULL,
    "doeId" text NOT NULL,
    "matingDate" timestamp(3) without time zone NOT NULL,
    "expectedKindlingDate" timestamp(3) without time zone,
    successful boolean DEFAULT false NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Notification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    priority text DEFAULT 'NORMAL'::text NOT NULL,
    read boolean DEFAULT false NOT NULL,
    "userId" text,
    "relatedId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: OffspringBatch; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OffspringBatch" (
    id text NOT NULL,
    "batchId" text NOT NULL,
    "birthId" text NOT NULL,
    count integer NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    notes text,
    "sourceBatchId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "overallHealthStatus" public."OffspringHealthStatus" DEFAULT 'HEALTHY'::public."OffspringHealthStatus" NOT NULL,
    "cageId" text,
    compartment integer DEFAULT 1,
    "maleCount" integer,
    "femaleCount" integer,
    "sexedAt" timestamp(6) with time zone
);


--
-- Name: OffspringBatchHealthHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OffspringBatchHealthHistory" (
    id text NOT NULL,
    "batchId" text NOT NULL,
    status public."OffspringHealthStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: OffspringDeath; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OffspringDeath" (
    id text NOT NULL,
    "birthId" text NOT NULL,
    "deathDate" timestamp(3) without time zone NOT NULL,
    count integer DEFAULT 1 NOT NULL,
    cause text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: OffspringWeight; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OffspringWeight" (
    id text NOT NULL,
    "batchId" text NOT NULL,
    weight double precision NOT NULL,
    "measurementDate" timestamp(3) without time zone NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Rabbit; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Rabbit" (
    id text NOT NULL,
    "rabbitId" text NOT NULL,
    name text,
    gender public."RabbitGender" NOT NULL,
    breed text NOT NULL,
    "dateOfBirth" timestamp(3) without time zone,
    "cageId" text NOT NULL,
    status public."RabbitStatus" DEFAULT 'ACTIVE'::public."RabbitStatus" NOT NULL,
    "healthStatus" public."HealthStatus" DEFAULT 'HEALTHY'::public."HealthStatus" NOT NULL,
    "healthDescription" text,
    color text,
    "motherId" text,
    "fatherId" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    compartment integer DEFAULT 1 NOT NULL
);


--
-- Name: Rabbitry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Rabbitry" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "locationId" text NOT NULL,
    "ownerId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RabbitryWorker; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RabbitryWorker" (
    id text NOT NULL,
    "rabbitryId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'worker'::text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Sale; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Sale" (
    id text NOT NULL,
    "rabbitId" text,
    description text NOT NULL,
    amount double precision NOT NULL,
    "saleDate" timestamp(3) without time zone NOT NULL,
    "buyerName" text,
    "buyerContact" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "batchId" text,
    "quantitySold" integer DEFAULT 1 NOT NULL
);


--
-- Name: Session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    image text,
    password text NOT NULL,
    role public."UserRole" DEFAULT 'OWNER'::public."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: WeightMeasurement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."WeightMeasurement" (
    id text NOT NULL,
    "rabbitId" text NOT NULL,
    weight double precision NOT NULL,
    "measurementDate" timestamp(3) without time zone NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Birth; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Cage; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Cage" (id, "cageId", type, "rabbitryId", capacity, compartments, description, "createdAt", "updatedAt") FROM stdin;
cmi7psk260007dvrssgha1kf9	BC-001	BREEDING	cmi7prz7e0005dvrsptxfllf7	12	12		2025-11-20 17:37:58.157	2025-11-20 17:37:58.157
\.


--
-- Data for Name: Creditor; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Creditor" (id, name, contact, "amountOwed", description, "dueDate", status, notes, "createdAt", "updatedAt") FROM stdin;
cmk5pyi8w0000s6jiz13d41ey	Dad		20	Scale purchase	2026-01-08 00:00:00	PAID		2026-01-08 17:26:28.064	2026-01-12 18:35:23.395
\.


--
-- Data for Name: Death; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Death" (id, "rabbitId", "deathDate", cause, notes, "createdAt", "updatedAt") FROM stdin;
cmi7ukt0r000adve4cpg5k3d8	cmi7qgdlt0009dvb4ci051zce	2025-11-11 00:00:00	Cold Stress	Pneumonia from post mortem	2025-11-20 19:51:54.603	2025-11-20 19:51:54.603
\.


--
-- Data for Name: Debtor; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Debtor" (id, name, contact, "amountOwed", description, "dueDate", status, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Expense; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Location; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Location" (id, name, description, type, address, "userId", "createdAt", "updatedAt") FROM stdin;
cmi7pqent0003dvrsm0num28m	Mush Rabbits	Rabbit farming family business	backyard	9647 Nhiriri Road Mufakose Harare	cmi7pgkn40000dvrsr3fvzjpq	2025-11-20 17:36:17.846	2025-11-24 20:59:55.196
\.


--
-- Data for Name: Mating; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Notification" (id, type, title, message, priority, read, "userId", "relatedId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: OffspringBatch; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: OffspringBatchHealthHistory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: OffspringDeath; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: OffspringWeight; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OffspringWeight" (id, "batchId", weight, "measurementDate", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Rabbit; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Rabbitry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Rabbitry" (id, name, description, "locationId", "ownerId", "createdAt", "updatedAt") FROM stdin;
cmi7prz7e0005dvrsptxfllf7	Rabbit Shed	Backyard shed	cmi7pqent0003dvrsm0num28m	cmi7pgkn40000dvrsr3fvzjpq	2025-11-20 17:37:31.131	2025-11-20 17:37:31.131
\.


--
-- Data for Name: RabbitryWorker; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RabbitryWorker" (id, "rabbitryId", "userId", role, "assignedAt") FROM stdin;
cmi7x2p9f0003dvuwcmi6ftqw	cmi7prz7e0005dvrsptxfllf7	cmi7pgkn40000dvrsr3fvzjpq	supervisor	2025-11-20 21:01:48.77
cmi7xat75000ddvuwthaichjy	cmi7prz7e0005dvrsptxfllf7	cmi7x9ymj0009dvuwqto0dsm5	worker	2025-11-20 21:08:07.121
\.


--
-- Data for Name: Sale; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."User" (id, name, email, "emailVerified", image, password, role, "createdAt", "updatedAt") FROM stdin;
cmi7x9ymj0009dvuwqto0dsm5	Worker 1	worker1@smartrabbit.com	\N	\N	$2b$12$F1XeNDdaYwpZpHVTJl91SOo5alx7tYFTMi.wGzmA.siHzIB01TMry	WORKER	2025-11-20 21:07:27.499	2025-11-20 21:08:07.09
cmi7pgkn40000dvrsr3fvzjpq	Makomborero Mushangwe	makomushangwe88@gmail.com	\N	\N	$2b$12$4R6HS/kKN451iPgpIE0zv.Icqp9fc2v75ey4.Fa2n8k5q1VAJd7Lu	OWNER	2025-11-20 17:28:39.039	2026-01-29 13:23:34.576
\.


--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Data for Name: WeightMeasurement; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: Birth Birth_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Birth"
    ADD CONSTRAINT "Birth_pkey" PRIMARY KEY (id);


--
-- Name: Cage Cage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Cage"
    ADD CONSTRAINT "Cage_pkey" PRIMARY KEY (id);


--
-- Name: Creditor Creditor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Creditor"
    ADD CONSTRAINT "Creditor_pkey" PRIMARY KEY (id);


--
-- Name: Death Death_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Death"
    ADD CONSTRAINT "Death_pkey" PRIMARY KEY (id);


--
-- Name: Debtor Debtor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Debtor"
    ADD CONSTRAINT "Debtor_pkey" PRIMARY KEY (id);


--
-- Name: Expense Expense_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_pkey" PRIMARY KEY (id);


--
-- Name: Location Location_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Location"
    ADD CONSTRAINT "Location_pkey" PRIMARY KEY (id);


--
-- Name: Mating Mating_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Mating"
    ADD CONSTRAINT "Mating_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: OffspringBatchHealthHistory OffspringBatchHealthHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringBatchHealthHistory"
    ADD CONSTRAINT "OffspringBatchHealthHistory_pkey" PRIMARY KEY (id);


--
-- Name: OffspringBatch OffspringBatch_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringBatch"
    ADD CONSTRAINT "OffspringBatch_pkey" PRIMARY KEY (id);


--
-- Name: OffspringDeath OffspringDeath_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringDeath"
    ADD CONSTRAINT "OffspringDeath_pkey" PRIMARY KEY (id);


--
-- Name: OffspringWeight OffspringWeight_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringWeight"
    ADD CONSTRAINT "OffspringWeight_pkey" PRIMARY KEY (id);


--
-- Name: Rabbit Rabbit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_pkey" PRIMARY KEY (id);


--
-- Name: RabbitryWorker RabbitryWorker_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RabbitryWorker"
    ADD CONSTRAINT "RabbitryWorker_pkey" PRIMARY KEY (id);


--
-- Name: Rabbitry Rabbitry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbitry"
    ADD CONSTRAINT "Rabbitry_pkey" PRIMARY KEY (id);


--
-- Name: Sale Sale_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WeightMeasurement WeightMeasurement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WeightMeasurement"
    ADD CONSTRAINT "WeightMeasurement_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Cage_cageId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Cage_cageId_key" ON public."Cage" USING btree ("cageId");


--
-- Name: OffspringBatch_batchId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "OffspringBatch_batchId_key" ON public."OffspringBatch" USING btree ("batchId");


--
-- Name: Rabbit_rabbitId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Rabbit_rabbitId_key" ON public."Rabbit" USING btree ("rabbitId");


--
-- Name: RabbitryWorker_rabbitryId_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "RabbitryWorker_rabbitryId_userId_key" ON public."RabbitryWorker" USING btree ("rabbitryId", "userId");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Birth Birth_matingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Birth"
    ADD CONSTRAINT "Birth_matingId_fkey" FOREIGN KEY ("matingId") REFERENCES public."Mating"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Cage Cage_rabbitryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Cage"
    ADD CONSTRAINT "Cage_rabbitryId_fkey" FOREIGN KEY ("rabbitryId") REFERENCES public."Rabbitry"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Death Death_rabbitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Death"
    ADD CONSTRAINT "Death_rabbitId_fkey" FOREIGN KEY ("rabbitId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Location Location_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Location"
    ADD CONSTRAINT "Location_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Mating Mating_buckId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Mating"
    ADD CONSTRAINT "Mating_buckId_fkey" FOREIGN KEY ("buckId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Mating Mating_doeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Mating"
    ADD CONSTRAINT "Mating_doeId_fkey" FOREIGN KEY ("doeId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OffspringBatchHealthHistory OffspringBatchHealthHistory_batchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringBatchHealthHistory"
    ADD CONSTRAINT "OffspringBatchHealthHistory_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES public."OffspringBatch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringBatch OffspringBatch_birthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringBatch"
    ADD CONSTRAINT "OffspringBatch_birthId_fkey" FOREIGN KEY ("birthId") REFERENCES public."Birth"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringDeath OffspringDeath_birthId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringDeath"
    ADD CONSTRAINT "OffspringDeath_birthId_fkey" FOREIGN KEY ("birthId") REFERENCES public."Birth"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringWeight OffspringWeight_batchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringWeight"
    ADD CONSTRAINT "OffspringWeight_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES public."OffspringBatch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rabbit Rabbit_cageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_cageId_fkey" FOREIGN KEY ("cageId") REFERENCES public."Cage"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rabbit Rabbit_fatherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_fatherId_fkey" FOREIGN KEY ("fatherId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Rabbit Rabbit_motherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbit"
    ADD CONSTRAINT "Rabbit_motherId_fkey" FOREIGN KEY ("motherId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RabbitryWorker RabbitryWorker_rabbitryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RabbitryWorker"
    ADD CONSTRAINT "RabbitryWorker_rabbitryId_fkey" FOREIGN KEY ("rabbitryId") REFERENCES public."Rabbitry"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RabbitryWorker RabbitryWorker_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RabbitryWorker"
    ADD CONSTRAINT "RabbitryWorker_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rabbitry Rabbitry_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbitry"
    ADD CONSTRAINT "Rabbitry_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public."Location"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rabbitry Rabbitry_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rabbitry"
    ADD CONSTRAINT "Rabbitry_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Sale Sale_batchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES public."OffspringBatch"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_rabbitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_rabbitId_fkey" FOREIGN KEY ("rabbitId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WeightMeasurement WeightMeasurement_rabbitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WeightMeasurement"
    ADD CONSTRAINT "WeightMeasurement_rabbitId_fkey" FOREIGN KEY ("rabbitId") REFERENCES public."Rabbit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OffspringBatch fk_cage; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OffspringBatch"
    ADD CONSTRAINT fk_cage FOREIGN KEY ("cageId") REFERENCES public."Cage"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ywDxz76BTCfasnIrg49uufIb6UebarbXPdAtg0GkwnIRRAsWlDkeJGxjdanUaa1

